includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$tenant_id.#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./tests/Base/BaseTestCase.php
        - ./app/Providers/BroadcastServiceProvider.php

    checkMissingIterableValueType: false
